nav {
  display: flex;
  padding: 20px 30px;

  div.logo {
    flex: 1;
  }

  ul {
    display: flex;
    column-gap: 20px;

    li {
      .active {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

hr {
  margin-bottom: 90px;
}
