
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 3%;
    border-bottom: solid 0.5px gray;
    font-family: "Yusei Magic", sans-serif;
    font-size: larger;
  }
  
  .navLink {
    display: flex;
    flex-direction: row;
    list-style: none;
    list-style-type: none;
  }
  
  .navItem a,
  span {
    padding-right: 10px;
    text-decoration: none;
    color: white;
  }
  
  .home {
    padding: 0 3%;
  }
  
  .quote {
    margin: 15% 20%;
  }
  